body {
  padding-top: 50px;
}

.pad-top {
  padding-top: 30px;
}

ul.nav li.dropdown:hover > ul.dropdown-submenu {
  top: 0;
  left: 95%;
  position: absolute;
  display: block;
}


#preds .background,#teamScatter .background{
  fill: white;
}

#preds .domain, .tick line, #teamScatter .domain, .tick line{
  stroke: none
}
.facet-label-x {
  stroke: none;
}
#teamScatter circle.geom-point {
  stroke-width: 2 !important;
}

